html, body, .root {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

a {
  text-decoration: none;
  color: inherit;
}

/* search page */

.books-list {
  padding: 30px 10px 20px;
}

/* book cover */

.book {
  width: 150px;
  margin: 1rem;
  box-shadow: none !important;
}

@media screen and (min-width: 600px) {
  .book {
    width: 175px;
    margin: 2rem;
  }
}

.authors-list {
  list-style-type: none;
  padding-left: 0;
}

.grid {
  margin: 1em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (min-width: 600px) {
  .grid {
    justify-content: flex-start;
  }
}

.search-books {
  text-align: center;
}

.popIn-enter {
  transform: scale(0);
}

.popIn-enter.popIn-enter-active {
  transform: scale(1);
  transition: transform 150ms ease-in-out;
}

.popIn-exit {
  transform: scale(1);
}

.popIn-exit.popIn-exit-active {
  transform: scale(0);
  transition: transform 150ms ease-in-out;
}